In [10]:
import requests

In [11]:
import pandas as pd

In [13]:
BASE_URL= "http://api.weatherstack.com/current"
API_KEY = "c5c02b2f83ca3025db38de422d6f6edc"
Location = []

Locations = ["London", "New York", "Paris", "Chicago", "South Africa"]

weather_data = []
for Location in Locations:
    params = {
           "access_key":  API_KEY, 
           "query": Location
     }
    response = requests.get(BASE_URL, params=params)
    data = response.json()
    weather_data.append(data)

In [14]:
weather_data

[{'request': {'type': 'City',
   'query': 'London, United Kingdom',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'London',
   'country': 'United Kingdom',
   'region': 'City of London, Greater London',
   'lat': '51.517',
   'lon': '-0.106',
   'timezone_id': 'Europe/London',
   'localtime': '2024-08-13 08:23',
   'localtime_epoch': 1723537380,
   'utc_offset': '1.0'},
  'current': {'observation_time': '07:23 AM',
   'temperature': 19,
   'weather_code': 113,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png'],
   'weather_descriptions': ['Sunny'],
   'wind_speed': 11,
   'wind_degree': 227,
   'wind_dir': 'SW',
   'pressure': 1010,
   'precip': 0,
   'humidity': 49,
   'cloudcover': 3,
   'feelslike': 19,
   'uv_index': 5,
   'visibility': 10,
   'is_day': 'yes'}},
 {'request': {'type': 'City',
   'query': 'New York, United States of America',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'New York',
   'country': 'United States of America',
   'region': 'New York',
   'lat': '40.714',
   'lon': '-74.006',
   'timezone_id': 'America/New_York',
   'localtime': '2024-08-13 03:19',
   'localtime_epoch': 1723519140,
   'utc_offset': '-4.0'},
  'current': {'observation_time': '07:19 AM',
   'temperature': 20,
   'weather_code': 113,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png'],
   'weather_descriptions': ['Clear '],
   'wind_speed': 14,
   'wind_degree': 329,
   'wind_dir': 'NNW',
   'pressure': 1015,
   'precip': 0,
   'humidity': 60,
   'cloudcover': 5,
   'feelslike': 20,
   'uv_index': 1,
   'visibility': 10,
   'is_day': 'no'}},
 {'request': {'type': 'City',
   'query': 'Paris, France',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'Paris',
   'country': 'France',
   'region': 'Ile-de-France',
   'lat': '48.867',
   'lon': '2.333',
   'timezone_id': 'Europe/Paris',
   'localtime': '2024-08-13 09:23',
   'localtime_epoch': 1723540980,
   'utc_offset': '2.0'},
  'current': {'observation_time': '07:23 AM',
   'temperature': 23,
   'weather_code': 113,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png'],
   'weather_descriptions': ['Sunny'],
   'wind_speed': 5,
   'wind_degree': 341,
   'wind_dir': 'NNW',
   'pressure': 1011,
   'precip': 0,
   'humidity': 63,
   'cloudcover': 8,
   'feelslike': 25,
   'uv_index': 6,
   'visibility': 10,
   'is_day': 'yes'}},
 {'request': {'type': 'City',
   'query': 'Chicago, United States of America',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'Chicago',
   'country': 'United States of America',
   'region': 'Illinois',
   'lat': '41.850',
   'lon': '-87.650',
   'timezone_id': 'America/Chicago',
   'localtime': '2024-08-13 02:23',
   'localtime_epoch': 1723515780,
   'utc_offset': '-5.0'},
  'current': {'observation_time': '07:23 AM',
   'temperature': 20,
   'weather_code': 113,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png'],
   'weather_descriptions': ['Clear '],
   'wind_speed': 7,
   'wind_degree': 255,
   'wind_dir': 'WSW',
   'pressure': 1019,
   'precip': 0,
   'humidity': 69,
   'cloudcover': 6,
   'feelslike': 20,
   'uv_index': 1,
   'visibility': 10,
   'is_day': 'no'}},
 {'request': {'type': 'City',
   'query': 'Pretoria, South Africa',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'Pretoria',
   'country': 'South Africa',
   'region': 'Gauteng',
   'lat': '-25.747',
   'lon': '28.188',
   'timezone_id': 'Africa/Johannesburg',
   'localtime': '2024-08-13 09:23',
   'localtime_epoch': 1723540980,
   'utc_offset': '2.0'},
  'current': {'observation_time': '07:23 AM',
   'temperature': 16,
   'weather_code': 113,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png'],
   'weather_descriptions': ['Sunny'],
   'wind_speed': 8,
   'wind_degree': 353,
   'wind_dir': 'N',
   'pressure': 1022,
   'precip': 0,
   'humidity': 46,
   'cloudcover': 2,
   'feelslike': 16,
   'uv_index': 6,
   'visibility': 10,
   'is_day': 'yes'}}]

In [15]:
weather = []

for data in weather_data:
    weather.append({
        'location' : data['location']['name'],
        'temperature' : data['current']['temperature'],
        'humidity': data['current']['humidity'],
        'wind_speed': data['current']['wind_speed'],
        'pressure' : data['current']['pressure'],
        'wind_degree': data['current']['wind_degree']
    })
    
weather = pd.DataFrame(weather)
print(weather)

   location  temperature  humidity  wind_speed  pressure  wind_degree
0    London           19        49          11      1010          227
1  New York           20        60          14      1015          329
2     Paris           23        63           5      1011          341
3   Chicago           20        69           7      1019          255
4  Pretoria           16        46           8      1022          353

In [17]:
#Display first few rows
weather.head()

   location  temperature  humidity  wind_speed  pressure  wind_degree
0    London           19        49          11      1010          227
1  New York           20        60          14      1015          329
2     Paris           23        63           5      1011          341
3   Chicago           20        69           7      1019          255
4  Pretoria           16        46           8      1022          353

In [21]:
#Display last few row
weather.tail()
tail_row

   location  temperature  humidity  wind_speed  pressure  wind_degree
0    London           19        49          11      1010          227
1  New York           20        60          14      1015          329
2     Paris           23        63           5      1011          341
3   Chicago           20        69           7      1019          255
4  Pretoria           16        46           8      1022          353

In [22]:
#check for missing values
weather.isnull()

   location  temperature  humidity  wind_speed  pressure  wind_degree
0     False        False     False       False     False        False
1     False        False     False       False     False        False
2     False        False     False       False     False        False
3     False        False     False       False     False        False
4     False        False     False       False     False        False

In [26]:
#Basic statistics
weather.describe()

       temperature   humidity  wind_speed     pressure  wind_degree
count      5.00000   5.000000    5.000000     5.000000     5.000000
mean      19.60000  57.400000    9.000000  1015.400000   301.000000
std        2.50998   9.659193    3.535534     5.128353    56.302753
min       16.00000  46.000000    5.000000  1010.000000   227.000000
25%       19.00000  49.000000    7.000000  1011.000000   255.000000
50%       20.00000  60.000000    8.000000  1015.000000   329.000000
75%       20.00000  63.000000   11.000000  1019.000000   341.000000
max       23.00000  69.000000   14.000000  1022.000000   353.000000

In [30]:
#max temperature city
max_temp_city = weather.loc[weather['temperature'].idxmax()]
print(max_temp_city)

location       Paris
temperature       23
humidity          63
wind_speed         5
pressure        1011
wind_degree      341
Name: 2, dtype: object

In [31]:
#max pressure city
max_pressure_city = weather.loc[weather['pressure'].idxmax()]
print(max_pressure_city)

location       Pretoria
temperature          16
humidity             46
wind_speed            8
pressure           1022
wind_degree         353
Name: 4, dtype: object

In [32]:
#max humidity city
max_humid_city = weather.loc[weather['humidity'].idxmax()]
print(max_humid_city)

location       Chicago
temperature         20
humidity            69
wind_speed           7
pressure          1019
wind_degree        255
Name: 3, dtype: object